.tweets.list-group.twitter
  - @tweets.each do |tweet|
    .list-group-item
      %strong
        = tweet.user.name
      = "#{link_to "@" + tweet.user.screen_name, "http://twitter.com/" + tweet.user.screen_name}".html_safe + " - "
      = tweet.created_at.strftime("%d %b %Y, %H:%M")
      %br
      = tweet.text
