%h1 SE23 Local Guide
= link_to 'Eating out', tweets_eating_out_path
= link_to 'Add an account', accounts_url
- if flash[:notice]
  %p
    = flash[:notice]
%p
.tweets
  - @tweets.each do |tweet|
    = tweet.user.name + " | @" + tweet.user.screen_name + " | " + tweet.created_at.strftime("%d/%m/%y @ %H:%M")
    %br
    = tweet.text
    %p
