!!! 5
%html
  %head
    %title SE23 Local Guide
    = stylesheet_link_tag 'application'
    = csrf_meta_tag

  %body
    %h1 SE23 Local Guide
    = link_to 'Eating out', tweet_path('eating_out')
    = link_to 'Drinking', tweet_path('drinking')
    = link_to 'Culture', tweet_path('culture')
    = link_to 'Shopping', tweet_path('shopping')
    %br
    = link_to 'Add an account', accounts_url
    - if flash[:notice]
      %p
      = flash[:notice]
    %p

  = yield
