= form_for Account.new, :html => {:class => "account-form"} do |f|
  = f.label :username, 'Username'
  = f.text_field :username
  %br
  = f.label :category, 'Category'
  = f.select :category, options_for_select(['Eating out', 'Drinking', 'Culture', 'Shopping']),:class => 'category'
  %br
  = f.submit 'Submit'
